
body {
    background: #f7fafc;
}

div.main {
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.helptext {
    display: none;
}

.errorlist {
    color: red;
}
